In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\gwtus\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import numpy as np

lst =  [1,2,3]
my_array = np.array(lst)
my_array

array([1, 2, 3])

In [13]:
zeros_array = np.zeros((3,3))
zeros_array

ones_array = np.ones((2,2))
ones_array

array([[1., 1.],
       [1., 1.]])

In [17]:
m_array = np.array([2,3,4,5,6])
m_array[3]

5

In [23]:
arr1 = np.array([2,3,4,5])
arr2 = np.array([8,9,10,11])

arr = np.dot(arr1,arr2)
arr

138

In [25]:
2+5

7

In [27]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gwtus\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gwtus\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gwtus\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gwtus\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gwtus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gwtus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pandas as pd
data = [10,20,30,40,50]
index = ['A','B','C','D','E']

series = pd.Series(data,index)

series

ele_A = series['A']
ele_C = series['C']

ele_C

30

In [57]:
series1 = pd.Series([1,2,3])
series2 = pd.Series([4,5,6])

results = series1 + series2

results

0    5
1    7
2    9
dtype: int64

In [69]:
series = pd.Series(data,index)
def square(number):
    return number**2
squared_series = series.apply(square)

squared_series

A     100
B     400
C     900
D    1600
E    2500
dtype: int64

In [73]:
data = {'Name' : ['John','Alice','Bob'],
       'Age' : [25,30,35],
       'Country' : ['USA','Canada','UK']}
df = pd.DataFrame(data)
df

name = df['Name']
name

0     John
1    Alice
2      Bob
Name: Name, dtype: object

In [95]:
#accessing using loc

first_row = df.loc[0]
third_row = df.loc[2]

#using iloc
first_row = df.iloc[0]
third_row = df.iloc[2]
third_row

#add new column
df['Salary'] = [5000,6000,8000]

#filtering rows 
filtered_df = df[df['Age']>30]

#applying function to data frame
def uppercase_names(row):
    return row['Name'].upper()

df['Upper Name'] = df.apply(uppercase_names,axis = 1)

In [97]:
df

    Name  Age Country  Salary Upper Name
0   John   25     USA    5000       JOHN
1  Alice   30  Canada    6000      ALICE
2    Bob   35      UK    8000        BOB